<ion-view title="添加排量">
    <ion-content padding="true" class="has-header">
        <form ng-submit="addBrandTT(b)">
            <label class="item item-input">
                <span class="input-label">title</span>
                <input type="text" ng-model="b.title" placeholder="输入排量">
            </label>

            <label class="item item-input">
                <span class="input-label">类型</span>
                <input type="text" ng-model="b.brand3_type" placeholder="输入类型"/>
            </label>
            <label class="item item-input">
                <span class="input-label">Time</span>
                <input type="text" ng-model="b.brand3_time" placeholder="输入时间"/>
            </label>
            <button class="button button-full2 button-block " style="margin-top: 20px" type="submit">保存</button>
        </form>
    </ion-content>
</ion-view></script>