<ion-view title="分类列表" hide-nav-bar="true">
    <ion-content has-header="false" has-tabs="false">
        <div class="bar-title t1">
            <h2 class="title-left">分类</h2>
        </div>

        <div ng-repeat="productype in productTypeList">
                <span ng-if="$index % 2 == 0">
                    <div class="row">
                        <div class="col" ng-if="productTypeList[$index+0]">
                            <a href="#/{{subsiteCode}}/product-list/{{productTypeList[$index+0].proTypeId}}">
                                <img class="full-image" ng-src="{{productTypeList[$index+0].proTypeImg}}">
                            </a>
                        </div>
                        <div class="col" ng-if="productTypeList[$index+1]">
                            <a href="#/{{subsiteCode}}/product-list/{{productTypeList[$index+1].proTypeId}}">
                                <img class="full-image" ng-src="{{productTypeList[$index+1].proTypeImg}}">
                            </a>
                        </div>
                    </div>
                </span>
        </div>

    </ion-content>
</ion-view>