<ion-view title="企业详情" hide-nav-bar="true">
    <ion-content has-header="false" padding="true">

        <h3 class="title-left">{{companyDetail.title}}</h3></p>

        <div class="detail">
        </div>
        <div id="map" style="width:100%;height:300px;"></div>

        <!-- JiaThis Button BEGIN -->
        <p></p>

        <div class="mod-share">
            <span class="hd">分享</span>
            <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{detials.name}}&desc={{detia.title}}&pics={{detials.img}}"
               class="qzone" title="分享到QQ空间"></a>
            <a href="http://v.t.sina.com.cn/share/share.php?title={{detials.name}}&pic={{detials.img}}"
               class="sina" title="分享到新浪微博"></a>
            <a href="http://widget.renren.com/dialog/share?resourceUrl={{url}}&title={{detials.name}}&pic={{detials.img}}&description= {{detia.title}}"
               class="renren" title="分享到人人"></a>
        </div>

        <!-- JiaThis Button END -->

        <div style="padding:10px;">
            <button class="button button-full button-assertive">
                <span>{{companyDetail.phone}}</span>
            </button>
        </div>


    </ion-content>


</ion-view>
  
 
  