<style type="text/css">
.nav {
    height: 105px;
    text-align: center;
    line-height: 50px;
}
.nav a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 46px;
}
.nav p {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 100%;
    white-space: normal;
}
.tab-item {
    opacity: 1;
}
.tab-item .icon {
    display: inline;
    color: #FFFFFF;
}
.button.icon-left:before {
    float: none;
    padding-right: 0.5em;
    font-size: 28px;
}
.telephone_div {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}
.telephone_div .telephone {
    width: 90%;
    text-align: center;
    color: #fff;
    background-color: #f5655f;
    border-color: #f5655f;
    font-size: 20px;
}
.row >:first-child {
    margin-top: 4px;
    margin-right: 4px;
}
.row >:nth-child(2) {
    margin-top: 4px;
}
.row >:last-child {
    margin-top: 4px;
    margin-left: 4px;
}
/**style*/

.color_one {
    background-color: #d87670;
}
.color_two {
    background-color: #bfd0c1;
}
.color_three {
    background-color: #fec303;
}
.color_four {
    background-color: #bb413f;
}
.color_five {
    background-color: #709b98;
}
.color_six {
    background-color: #ff8a04;
}
.color_seven {
    background-color: #9ab887;
}
.color_eight {
    background-color: #da9782;
}
.color_nine {
    background-color: #c17a87;
}
</style>

<ion-view title="{{title}}" hide-nav-bar="true">
    <ion-content>
        <div class="swipe-div">
            <div id='slider' class='swipe'>
                <div class='swipe-wrap'>

                    <div ng-repeat="ad in adList">
                        <img ng-src="{{ad.img}}">

                        <p>{{ad.title}}</p>
                    </div>
                </div>
            </div>
            <ul class="mod_index">
                <li class="current"></li>
            </ul>
        </div>

        <!--电话-->
        <div class="telephone_div">
            <button class="button telephone icon-left ion-ios7-telephone-outline " ng-if="phone">{{phone}}
            </button>
        </div>

        <!--导航-->
        <div ng-repeat="nav in navList" ng-init="classes=['color_one', 'color_two', 'color_three','color_four', 'color_five', 'color_six','color_seven','color_eight','color_nine']">
            <span ng-if="$index % 3 == 0">
                <div class="row item-no-board item-no-padding">


                    <div class="col item item-no-board nav" ng-if="navList[$index+0]" ng-class="classes[($index+0) % classes.length]">
                        <a ng-href="{{navList[$index+0].href}}" class="tab-item">
                            <i class="icon" ng-class="navList[$index+0].icon" ng-style="{{styleColor}}"></i>

                            <p ng-style="{{styleColor}}">{{navList[$index+0].title}}</p>
                        </a>
                    </div>


                    <div class="col item item-no-board nav" ng-if="navList[$index+1]" ng-class="classes[($index+1) % classes.length]">
                        <a ng-href="{{navList[$index+1].href}}" class="tab-item">
                            <i class="icon" ng-class="navList[$index+1].icon" ng-style="{{styleColor}}"></i>

                            <p ng-style="{{styleColor}}">{{navList[$index+1].title}}</p>
                        </a>
                    </div>

                    <div class="col item item-no-board nav" ng-if="navList[$index+2]" ng-class="classes[($index+2) % classes.length]">
                        <a ng-href="{{navList[$index+2].href}}" class="tab-item">
                            <i class="icon" ng-class="navList[$index+2].icon" ng-style="{{styleColor}}"></i>

                            <p ng-style="{{styleColor}}">{{navList[$index+2].title}}</p>
                        </a>
                    </div>

                </div>
            </span>
        </div>


    </ion-content>
</ion-view>
