<style type="text/css">
.item {
    text-align: left;
}
.item a {
    color: #eeeeee;
    text-decoration: none;
}
.item p {
    color: #8e8e8e;
    font-size: 16px;
}
.item h2 {
    color: #3d3d3d;
    margin-top: 20px;
    font-size: 18px;
}
.nav_icon {
    font-size: 40px;
    background: url("img/icon/bg_circle.png") no-repeat center;
    background-size: 72px;
    line-height: 72px;
}
</style>
<ion-view title="{{title}}" hide-nav-bar="true">
    <ion-content>
        <div class="swipe-div">
            <div id='slider' class='swipe'>
                <div class='swipe-wrap'>
                    <div ng-repeat="ad in adList">
                        <a href="{{ad.href}}">
                            <img ng-src="{{ad.img}}">
                        </a>

                        <p>{{ad.title}}</p>
                    </div>
                </div>
            </div>
            <ul class="mod_index">
                <li class="current"></li>
            </ul>
        </div>

        <!-- 导航 -->
        <div class="list ionic-margin item-home5">
            <a class="item item-thumbnail-left " ng-href="{{nav.href}}" ng-repeat="nav in navList">

                <i class="item-image icon nav_icon" ng-class="nav.icon" ng-style="{{styleColor}}"></i>

                <h2 ng-style="{{styleColor}}">{{nav.title}}</h2>
            </a>

        </div>


    </ion-content>
</ion-view>
