<style type="text/css">
    .item-thumbnail-left > i {
        position: absolute;
        top: 33px;
        left: 38px;
        font-size: 30px;
        width: 100%;
        color: #ffffff;
    }

    .nav {
        text-align: left;
        padding: 15px;
    }

    .nav a {
        color: #eeeeee;
        text-decoration: none;
    }

    .nav p {
        color: white;
        font-size: 20px;
    }

    .nav h5 {
        color: white;
        font-size: 12px;
    }

    .item .item-grids {
        background-color: white;
        border-color: #dddddd;
    }

    .row .norow {
        padding: 0px;
        margin-top: 0px;
    }

    .col.yuanjiao {
        border-radius: 8px 8px /8px 8px;
    }

    .col.beijing1 {
        background: #FF6668;
        padding: 20px;
    }

    .col.beijing2 {
        background: #F9AB6D;
        padding: 20px;
    }

    .col.beijing3 {
        background: #7FC816;
        padding: 20px;
    }

    .col.beijing4 {
        background: #34D5D0;
        padding: 20px;
    }

    .col.beijing5 {
        background: #31ABF4;
        padding: 20px;
    }

    .col.beijing6 {
        background: #2CDBEF;
        padding: 20px;
    }

    .h5 {
        /*透明度设置*/
        opacity: 0.9;
    }
</style>

<ion-view title="{{title}}" hide-nav-bar="true">
    <ion-content>
        <div class="swipe-div">
            <div id='slider' class='swipe'>
                <div class='swipe-wrap'>
                    <div ng-repeat="ad in adList">
                            <a href="{{ad.href}}">
                            <img ng-src="{{ad.img}}">
                        </a>

                        <p>{{ad.title}}</p>
                    </div>
                </div>
            </div>
            <ul class="mod_index">
                <li class="current"></li>
            </ul>
        </div>


        <!-- 导航 -->
        <div ng-repeat="nav in navList">
            <span ng-if="$index % 6 == 0">
                <div class="row norow">
                    <div class="col yuanjiao nav beijing1" ng-if="navList[$index+0]">
                        <a ng-href="{{navList[$index+0].href}}">
                            <p ng-style="{{styleColor}}">{{navList[$index+0].title}}</p>
                            <!--<h5>欢迎关注产品最新动态</h5>-->
                        </a>
                    </div>
                </div>
                <div class="row norow" style="margin-top: 3px">
                    <div class="col yuanjiao  nav beijing2 " ng-if="navList[$index+1]">
                        <a ng-href="{{navList[$index+1].href}}">
                            <p ng-style="{{styleColor}}">{{navList[$index+1].title}}</p>
                            <!--<h5>欢迎关注产品最新动态</h5>-->
                        </a>
                    </div>
                    <div class="col yuanjiao  nav beijing3" style="margin-left: 6px" ng-if="navList[$index+2]">
                        <a ng-href="{{navList[$index+2].href}}">
                            <p ng-style="{{styleColor}}">{{navList[$index+2].title}}</p>
                            <!--<h5>欢迎关注产品最新动态</h5>-->
                        </a>
                    </div>
                </div>

                <div class="row norow" style="margin-top: 3px">
                    <div class="col col-50 yuanjiao  nav beijing4 " ng-if="navList[$index+3]">
                        <a ng-href="{{navList[$index+3].href}}">
                            <p ng-style="{{styleColor}}">{{navList[$index+3].title}}</p>
                            <!--<h5>按类别查看内容</h5>-->
                        </a>
                    </div>
                    <div class="col col-24 yuanjiao  nav beijing6" style="margin-left: 6px" ng-if="navList[$index+4]">
                        <a ng-href="{{navList[$index+4].href}}">
                            <p ng-style="{{styleColor}}">{{navList[$index+4].title}}</p>
                        </a>
                    </div>
                    <div class="col col-24 yuanjiao  nav beijing5" style="margin-left: 6px" ng-if="navList[$index+5]">
                        <a ng-href="{{navList[$index+5].href}}">
                            <p ng-style="{{styleColor}}">{{navList[$index+5].title}}</p>
                        </a>
                    </div>
                </div>
            </span>
        </div>

    </ion-content>
</ion-view>
