<style type="text/css">
.nav {
    text-align: center;
    margin: 4px;
    line-height: 30px;
    border-radius: 5px;
}
.nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 40px;
}
.nav p {
    color: white;
    font-size: 14px;
    position: relative;
}
.nav i {
    position: relative;
    top: 10px;
}
.nav_color {
    background: rgba(255, 255, 255, 0.35);
}
.row {
    width: 52%;
    margin: 0 auto;
    position: relative;
    left: -60px;
}
.nav-title {
    margin-top: 80px;
    text-align: center;
}
.pane {
    background: url("img/bg27.png");
    background-size: cover;
}
</style>

<ion-view title="{{title}}" hide-nav-bar="true">
    <ion-content style="padding-top: 40px">
        <!--导航-->
        <div ng-repeat="nav in navList">
            <span ng-if="$index % 2 == 0">
                <div class="row item-no-board item-no-padding">

                    <div class="col nav nav_color" ng-if="navList[$index+0]">
                        <a ng-href="{{navList[$index+0].href}}">
                            <i class="icon" ng-class="navList[$index+0].icon" ng-style="{{styleColor}}"></i>

                            <p ng-style="{{styleColor}}">{{navList[$index+0].title}}</p>
                        </a>
                    </div>

                    <div class="col nav nav_color" ng-if="navList[$index+1]">
                        <a ng-href="{{navList[$index+1].href}}">
                            <i class="icon" ng-class="navList[$index+1].icon" ng-style="{{styleColor}}"></i>

                            <p ng-style="{{styleColor}}">{{navList[$index+1].title}}</p>
                        </a>
                    </div>

                </div>
            </span>
        </div>

    </ion-content>
</ion-view>
