<style type="text/css">
.nav {
    height: 116px;
    text-align: center;
    padding: 0px;
    background-size: cover;
}
.nav a {
    color: #f5f5f5;
    text-decoration: none;
}
.nav p {
    color: black;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #f5f5f5;
    opacity: 0.8;
    line-height: 20px;
}
.row > :first-child {
    margin-top: 2px;
    /*margin-bottom: 4px;*/
    /*margin-right: 4px;*/
}
.row > :nth-child(2) {
    margin-bottom: 2px;
    margin-top: 2px;
}
.row > :last-child {
    margin-top: 2px;
    margin-bottom: 4px;
    margin-left: 4px;
}
.scroll-content {
    padding: 7px;
}
</style>

<ion-view title="{{title}}" hide-nav-bar="true">
    <ion-content>

        <!-- 导航 -->
        <div class="row">
            <div class="col nav item item-no-board" style="margin-right: 4px; background-image: url(http://static.wumii.cn/site_images/ti/QCuD6MME.jpg?i=BfLFCO1F);">
                <a href="#/news">
                    <p>产品中心</p>
                </a>
            </div>


            <div class="col nav item item-no-board" style="background-image: url(http://static.wumii.cn/site_images/ti/yY7sksmE.jpg?i=ZncDowAu)">
                <a href="#/news">
                    <p>产品中心</p>
                </a>
            </div>


            <div class="col nav item item-no-board " style="background-image: url(http://static.wumii.cn/site_images/ti/pJ1QvWSZ.jpg?i=hJo8bTpQ)">
                <a href="#/news">
                    <p>产品中心</p>
                </a>
            </div>
        </div>
        <div class="row ">
            <div class="col col-33  nav item item-no-board" style="background-image: url(http://static.wumii.cn/site_images/ti/36vbhze9.jpg?i=3uLlV2BL)">
                <a href="#/news">
                    <p>新闻中心</p>
                </a>
            </div>
            <div class="col col-67  nav item item-no-board" style="background-image: url(http://t11.baidu.com/it/u=3790998310,1897120223&fm=56)">
                <a href="#/user">
                    <p>个人中心</p>
                    <!-- <i class="icon ion-android-earth"></i> -->
                </a>
            </div>
        </div>

        <div class="row ">
            <div class="col  col-33 " style="padding: 0px;">
                <div class="col nav item item-no-board " style="background-image: url(http://static.wumii.cn/site_images/ti/BQYVjV6.jpg?i=J1QwXbuu) ">
                    <p>
                        鸡蛋面</p>
                </div>
                <div class="col nav item item-no-board " style="background-image: url(http://static.wumii.cn/site_images/ti/t0Tr7TUG.jpg?i=eCMhJnlg) ; margin-top: 5px;">
                    <p>寿司</p>
                </div>
            </div>
            <div class="col  col-67 nav item item-no-board " style="height: 237px; background-image: url(http://www.somadou.com/Content/User/16635/photo/1.jpg)">
                <p>酥皮唐</p>
            </div>
        </div>


    </ion-content>
</ion-view>
