<style type="text/css">
    .pane {
        background: url("img/bg28.png");
        background-size: cover;
    }

    .scroll {
        height: 100%;
    }

    .pane-bg {
        position: relative;
        margin: 0 auto;
        background: url("img/home28.png") no-repeat center;
        background-size: contain;
        top: 60px;
        color: #ffffff;
    }

    .tab-item .icon {
        height: 50px;
        font-size: 48px;
    }

    .item1 {
        position: relative;
        top: 95px;
        left: -10px;
    }

    .item2 {
        position: relative;
        left: 70px;
        top: 50px;
    }

    .item3 {
        position: relative;
        left: 165px;
        top: -10px;
    }

    .item4 {
        position: relative;
        top: 35px;
        left: 80px;
    }

    .item5 {
        position: relative;
        left: 160px;
        top: -45px;
    }

</style>

<ion-view title="{{title}}" hide-nav-bar="true">
    <ion-content scroll="false">
        <div class="pane-bg">
            <div>
                <a class="tab-item item1" ng-if="navList[0]" href="{{navList[0].href}}">
                    <i class="icon" ng-class="navList[0].icon" ng-style="{{styleColor}}"></i>

                    <p ng-style="{{styleColor}}">{{navList[0].title}}</p>
                </a>

                <a class="tab-item item2" ng-if="navList[1]" href="{{navList[1].href}}">
                    <i class="icon" ng-class="navList[1].icon" ng-style="{{styleColor}}"></i>

                    <p ng-style="{{styleColor}}">{{navList[1].title}}</p>
                </a>

                <a class="tab-item item3" ng-if="navList[2]" href="{{navList[2].href}}">
                    <i class="icon" ng-class="navList[2].icon" ng-style="{{styleColor}}"></i>

                    <p ng-style="{{styleColor}}">{{navList[2].title}}</p>
                </a>

                <a class="tab-item item4 " ng-if="navList[3]" href="{{navList[3].href}}">
                    <i class="icon" ng-class="navList[3].icon" ng-style="{{styleColor}}"></i>

                    <p ng-style="{{styleColor}}">{{navList[3].title}}</p>
                </a>

                <a class="tab-item item5 " ng-if=" navList[4]" href="{{navList[4].href}}">
                    <i class="icon" ng-class="navList[4].icon" ng-style="{{styleColor}}"></i>

                    <p ng-style="{{styleColor}}">{{navList[4].title}}</p>
                </a>

            </div>
    </ion-content>
</ion-view>
