<style type="text/css">
    .nav {
        width: 78%;
        height: 80px;
        margin: auto;
        margin-bottom: 10px;
    }

    .nav a {
        color: #323232;
        text-decoration: none;
        font-size: 20px;
        text-align: left;
        padding-left: 80px;
    }

    .nav_color {
        background: white;
    }

    .nav-title {
        margin-top: 40px;
        text-align: left;
        margin-left: 20px;
    }

    .pane {
        background: url("img/22bg.jpg");
        background-size: cover;
    }

    .item {
        margin: 0;
    }

    .item-icon-left .icon {
        left: 20px;
    }
</style>

<ion-view title="{{title}}" hide-nav-bar="true">
    <ion-content>

        <div class="nav-title">
            <h3 style="color: white;margin-left: 12px;"><b>{{title}} </b></h3>
        </div>
        <!--导航-->
        <div ng-repeat="nav in navList">

            <div class="nav nav_color" ng-if="nav"
                 style="text-align: center;padding-top: 15px;border-radius: 5px 5px 5px 5px;">
                <a ng-href="{{nav.href}}" class="item item-icon-left item-no-board">
                    <i class="icon" ng-class="nav.icon"></i>
                    {{nav.title}}
                </a>
            </div>

        </div>
        <!-- 底部 -->
        <div class="row item-no-board item-no-padding"
             style="margin-bottom:110px;padding-top: 30px;margin-left: 70px;text-align: center;">
            <div class="col col-33" style="background: #085397;">
                <a href="#/{{subsiteCode}}/about-us">
                    <p style="color: white; margin-top: 5px;">关于我们</p>
                </a>
            </div>
            <div class="col col-33" style="background: #085397; margin-left: 2px;">
                <a href="#/{{subsiteCode}}/personnel-recruitment">
                    <p style="color: white; margin-top: 5px;">诚聘英才</p>
                </a>
            </div>
        </div>


    </ion-content>
</ion-view>
