<style type="text/css">
    .bg {
        background: #ffffff;
        color: #656d78;
    }

    .foot {
        text-align: center;
        padding: 10px 0;
        margin-top: 10px;
    }
</style>
<ion-view class="bg" title="首页">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px;  text-align: center; background-color: rgb(255, 255, 255);">
            <img src="img/home-title.png">
        </div>
        <div>
            <h4 style="text-align: center; color: #0096e3;">
                立即预定上门保养服务
            </h4>
        </div>
        <a href="#">
            <img src="img/select_car.png" width="100%">
        </a>

        <div class="foot">
            客服电话:
            <span style="color: #0096e3;">400-006-8181</span>

            <p>若没找到车型，请拨打客服电话</p>
        </div>
    </ion-content>
</ion-view>
