<style type="text/css">
    .nav {
        text-align: center;
    }

    .nav a {
        color: #eeeeee;
        text-decoration: none;
    }

    .item {
        border-width: 0px;
    }

    .item p:last-child {
        margin-bottom: 12px;
        color: #666666;
        font-size: 14px;
    }

    .img3 {
        text-align: center;
        margin: 0 auto;
        font-size: 40px;
        line-height: 62px;
        width: 100%;
        display: table;
        position: absolute;
        top: 4px;
    }

    .circle {
        position: relative;
        font-size: 60px;
        z-index: -1;
    }

    /**style*/
    .color_one {
        color: #d87670;
    }

    .color_two {
        color: #bfd0c1;
    }

    .color_three {
        color: #fec303;
    }

    .color_four {
        color: #bb413f;
    }

    .color_five {
        color: #709b98;
    }

    .color_six {
        color: #ff8a04;
    }

    .color_seven {
        color: #9ab887;
    }

    .color_eight {
        color: #da9782;
    }

    .color_nine {
        color: #c17a87;
    }
</style>
<ion-view title="{{title}}" hide-nav-bar="true">
    <ion-content>

        <div class="swipe-div">
            <div id='slider' class='swipe'>
                <div class='swipe-wrap'>
                    <div ng-repeat="ad in adList">
                        <img ng-src="{{ad.img}}">

                        <p>{{ad.title}}</p>
                    </div>
                </div>
            </div>
            <ul class="mod_index">
                <li class="current"></li>
            </ul>
        </div>


        <!--导航-->
        <div ng-repeat="nav in navList"
             ng-init="classes=['color_one', 'color_two', 'color_three','color_four', 'color_five', 'color_six','color_seven','color_eight','color_nine']">
                <span ng-if="$index % 3 == 0">
                  <div class="row item-no-padding">

                      <div class="col item nav" ng-if="navList[$index+0]">
                          <a ng-href="{{navList[$index+0].href}}">
                              <i class="icon ion-ios7-circle-outline circle"
                                 ng-class="classes[($index+0) % classes.length]"></i>
                              <i class="icon {{navList[$index+0].icon}} img3"
                                 ng-class="classes[($index+0) % classes.length]"></i>

                              <p ng-style="{{styleColor}}">{{navList[$index+0].title}}</p>
                          </a>
                      </div>

                      <div class="col item nav" ng-if="navList[$index+1]">
                          <a ng-href="{{navList[$index+1].href}}">
                              <i class="icon ion-ios7-circle-outline circle"
                                 ng-class="classes[($index+1) % classes.length]"></i>

                              <i class="icon  {{navList[$index+1].icon}} img3"
                                 ng-class="classes[($index+1) % classes.length]"></i>

                              <p ng-style="{{styleColor}}">{{navList[$index+1].title}}</p>
                          </a>
                      </div>

                      <div class="col item nav" ng-if="navList[$index+2]">
                          <a ng-href="{{navList[$index+2].href}}">
                              <i class="icon ion-ios7-circle-outline circle"
                                 ng-class="classes[($index+2) % classes.length]"></i>

                              <i class="icon {{navList[$index+2].icon}} img3"
                                 ng-class="classes[($index+2) % classes.length]"></i>

                              <p ng-style="{{styleColor}}">{{navList[$index+2].title}}</p>
                          </a>
                      </div>

                  </div>
                </span>
        </div>


    </ion-content>
</ion-view>