<style type="text/css">
    .nav {
        text-align: center;
    }

    .nav a {
        color: #eeeeee;
        text-decoration: none;
    }

    .item p:last-child {
        margin-bottom: 12px;
        color: #666666;
        font-size: 14px;
    }

    .img3 {
        text-align: center;
        margin: 0 auto;
        font-size: 20px;
        background: url("img/icon/bg_icon.png") no-repeat center;
        background-size: 36px;
        line-height: 62px;
        width: 100%;
        display: table;
    }
</style>
<ion-view title="{{title}}" hide-nav-bar="true">
    <ion-content>
        <div class="swipe-div">
            <div id='slider' class='swipe'>
                <div class='swipe-wrap'>
                    <div ng-repeat="ad in adList">
                        <a href="{{ad.href}}">
                            <img ng-src="{{ad.img}}">
                        </a>

                        <p>{{ad.title}}</p>
                    </div>
                </div>
            </div>
            <ul class="mod_index">
                <li class="current"></li>
            </ul>
        </div>


        <!--导航-->
        <div ng-repeat="nav in navList">
                <span ng-if="$index % 3 == 0">
                  <div class="row item-no-padding">

                      <div class="col item nav" ng-if="navList[$index+0]">
                          <a ng-href="{{navList[$index+0].href}}">
                              <i class="icon img3" ng-class="navList[$index+0].icon" ng-style="{{styleColor}}"></i>

                              <p ng-style="{{styleColor}}">{{navList[$index+0].title}}</p>
                          </a>
                      </div>


                      <div class="col item nav" ng-if="navList[$index+1]">
                          <a ng-href="{{navList[$index+1].href}}">
                              <i class="icon img3" ng-class="navList[$index+1].icon" ng-style="{{styleColor}}"></i>

                              <p ng-style="{{styleColor}}">{{navList[$index+1].title}}</p>
                          </a>
                      </div>


                      <div class="col item nav" ng-if="navList[$index+2]">
                          <a ng-href="{{navList[$index+2].href}}">
                              <i class="icon img3" ng-class="navList[$index+2].icon" ng-style="{{styleColor}}"></i>

                              <p ng-style="{{styleColor}}">{{navList[$index+2].title}}</p>
                          </a>
                      </div>

                  </div>
                </span>
        </div>


    </ion-content>
</ion-view>