<style type="text/css">
    .nav {
        text-align: center;
        padding: 20px;
        height: 135px;
    }

    .nav a {
        color: #f5f5f5;
        text-decoration: none;
    }

    .nav img {
        width: 100%;
        border-radius: 15px;
        transform: rotate(-10deg);
        -ms-transform: rotate(-10deg); /* IE 9 */
        -moz-transform: rotate(-10deg); /* Firefox */
        -webkit-transform: rotate(-10deg); /* Safari 和 Chrome */
        -o-transform: rotate(-10deg); /* Opera */
        box-shadow: 1px 1px 3px #888888;
    }

    .nav p {
        color: #333333;
        font-size: 16px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        line-height: 53px;
        background: url("img/23text_shadow.png") center;

    }

    #nav {
        background: url("img/bg23.png") repeat;
    }

    .item {
        background-color: transparent;
    }

</style>

<ion-view title="{{title}}" hide-nav-bar="true">
    <ion-content>
        <div class="swipe-div">
            <div id='slider' class='swipe'>
                <div class='swipe-wrap'>
                    <div ng-repeat="ad in adList">
                            <a href="{{ad.href}}">
                            <img ng-src="{{ad.img}}">
                        </a>

                        <p>{{ad.title}}</p>
                    </div>
                </div>
            </div>
            <ul class="mod_index">
                <li class="current"></li>
            </ul>
        </div>


        <!--导航-->
        <div id="nav">
            <div ng-repeat="nav in navList">
            <span ng-if="$index % 2 == 0">
                <div class="row  ">

                    <div style="margin-right: 3px;" class="col  nav item item-no-board " ng-if="navList[$index+0]"
                            >
                        <!--ng-class="classes[($index+0) % classes.length]"-->

                        <a ng-href="{{navList[$index+0].href}}">

                            <img ng-src="{{navList[$index+0].icon}}" ng-if="navList[$index+0].icon.substring(0,4)!='ion-'">
                            <img src="img/23icon.jpg" ng-if="navList[$index+0].icon.substring(0,4)=='ion-'">

                            <p ng-style="{{styleColor}}">{{navList[$index+0].title}}</p>
                        </a>
                    </div>

                    <div class="col nav item item-no-board " ng-if="navList[$index+1]"
                         style="margin-left: 20px">

                        <a href="{{navList[$index+1].href}}">

                            <img ng-src="{{navList[$index+1].icon}}" ng-if="navList[$index+1].icon.substring(0,4)!='ion-'">
                            <img src="img/23icon.jpg" ng-if="navList[$index+1].icon.substring(0,4)=='ion-'">

                            <p ng-style="{{styleColor}}">{{navList[$index+1].title}}</p>

                        </a>
                    </div>


                </div>
            </span>
            </div>
        </div>
    </ion-content>
</ion-view>
