<style type="text/css">
    .nav {
        text-align: center;
        margin: 4px;
        line-height: 80px;
    }

    .nav a {
        color: #eeeeee;
        text-decoration: none;
    }

    .nav p {
        color: white;
        font-size: 16px;
    }

    .nav_color {
        background: #FF6668;
    }

    .row {
        width: 70%;
        margin: 0 auto;
    }

    .nav-title{
        margin-top: 80px;
        text-align: center;
    }
    
    .pane{
        background: url("img/bg.png");
        background-size: cover;
    }

</style>

<ion-view title="{{title}}" hide-nav-bar="true">
    <ion-content>

        <div class="nav-title"><h1 class="title">{{title}}</h1></div>
        <!--导航-->
        <div ng-repeat="nav in navList">
                <span ng-if="$index % 2 == 0">
                  <div class="row item-no-board item-no-padding">

                      <div class="col nav nav_color" ng-if="navList[$index+0]">
                          <a ng-href="{{navList[$index+0].href}}">
                              <p ng-style="{{styleColor}}"> {{navList[$index+0].title}}</p>
                          </a>
                      </div>


                      <div class="col nav nav_color" ng-if="navList[$index+1]">
                          <a ng-href="{{navList[$index+1].href}}">
                              <p ng-style="{{styleColor}}">{{navList[$index+1].title}}</p>
                          </a>
                      </div>

                  </div>
                </span>
        </div>


    </ion-content>
</ion-view>
