<style type="text/css">
.nav {
    text-align: center;
    padding: 10px;
    margin-bottom: -3px;
}
.nav a {
    color: #eeeeee;
    text-decoration: none;
}
.nav p {
    color: white;
    font-size: 14px;
    text-align: left;
}
.icon {
    padding-bottom: 15px;
    font-size: 36px;
}
.row .norow {
    padding: 0px;
    margin-top: 0px;
}
.color_one {
    background: #FF6668;
}
.color_two {
    background: #F9AB6D;
}
.color_three {
    background: #7FC816;
}
.color_four {
    background: #34D5D0;
}
.color_five {
    background: #31ABF4;
}
.color_six {
    background: #2CDBEF;
}
.color_seven {
    background: #FE864A;
}
.color_eight {
    background: #F4B613;
}
.color_nine {
    background: #9656F3;
}
</style>

<ion-view title="{{title}}" hide-nav-bar="true">
    <ion-content>
        <div class="swipe-div">
            <div id='slider' class='swipe'>
                <div class='swipe-wrap'>

                    <div ng-repeat="ad in adList">
                        <a href="{{ad.href}}">
                            <img ng-src="{{ad.img}}">
                        </a>

                        <p>{{ad.title}}</p>
                    </div>
                </div>
            </div>
            <!--<div class="swipe-ctr">-->
            <!--</div>-->

            <ul class="mod_index">
                <li class="current"></li>
            </ul>
        </div>


        <!--导航-->
        <div ng-repeat="nav in navList" ng-init="classes=['color_one', 'color_two', 'color_three','color_four', 'color_five', 'color_six','color_seven','color_eight','color_nine']">
            <span ng-if="$index % 3 == 0">
                <div class="row norow">


                    <div class="col col-45  nav" ng-if="navList[$index+0]" ng-class="classes[($index+0) % classes.length]">
                        <a ng-href="{{navList[$index+0].href}}">
                            <p ng-style="{{styleColor}}">{{navList[$index+0].title}}</p>
                            <i class="icon {{navList[$index+0].icon}}" ng-style="{{styleColor}}"></i>
                        </a>
                    </div>


                    <div class="col col-25 nav" ng-if="navList[$index+1]" ng-class="classes[($index+1) % classes.length]" style="margin-left: 5px">
                        <a ng-href="{{navList[$index+1].href}}" class="tab-item">
                            <p ng-style="{{styleColor}}">{{navList[$index+1].title}}</p>
                            <i class="icon {{navList[$index+1].icon}}" ng-style="{{styleColor}}"></i>
                        </a>
                    </div>

                    <div class="col col-25 nav " ng-if="navList[$index+2]" ng-class="classes[($index+2) % classes.length]" style="margin-left: 5px">
                        <a ng-href="{{navList[$index+2].href}}" class="tab-item">
                            <p ng-style="{{styleColor}}">{{navList[$index+2].title}}</p>
                            <i class="icon {{navList[$index+2].icon}}" ng-style="{{styleColor}}"></i>
                        </a>
                    </div>

                </div>
            </span>
        </div>

    </ion-content>
</ion-view>
