<style type="text/css">
.item-nav {
    padding: 8px;
    width: 100%;
    background: #f7f7f7;
    text-align: center;
    font-size: 13px;
}
.item-thumbnail-left {
    padding: 0 0 0 135px;
}
.item-thumbnail-right {
    padding: 0 135px 0 0;
}
.item-thumbnail-left > img:first-child {
    max-width: 128px;
    max-height: 128px;
}
.item-thumbnail-right > img:first-child {
    max-width: 128px;
    max-height: 128px;
}
.card1 {
    margin: 10px 10px;
}
</style>

<ion-view title="{{title}}" hide-nav-bar="true">
    <ion-content>

        <div class="swipe-div">
            <div id='slider' class='swipe'>
                <div class='swipe-wrap'>

                    <div ng-repeat="ad in adList">
                        <a href="{{ad.href}}">
                            <img ng-src="{{ad.img}}">
                        </a>
                        <p>{{ad.title}}</p>
                    </div>
                </div>
            </div>
            <ul class="mod_index">
                <li class="current"></li>
            </ul>
        </div>

        <!--导航-->
        <div>

            <div class="card card1">
                <div class="item item-thumbnail-left" style="border-radius: 0px;">
                    <img src="img/ionic.png">


                    <div class="row">
                        <div class="col">
                            <div class="item item-nav item-assertive " style="border: 0px solid; border-radius: 0px;">中秋阳澄湖大闸蟹</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-67">
                            <div class="item-nav">连衣裙</div>
                        </div>
                        <div class="col">
                            <div class="item-nav">耐克</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="item-nav">酷饮</div>
                        </div>
                        <div class="col">
                            <div class="item-nav">薯片</div>
                        </div>
                        <div class="col">
                            <div class="item-nav">瘦身</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card1">
                <div class="item item-thumbnail-right" style="border-radius: 0px;">
                    <img src="img/ionic.png">


                    <div class="row">
                        <div class="col">
                            <div class="item item-nav item-assertive" style="border: 0px solid; border-radius: 0px;">中秋阳澄湖大闸蟹</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-67">
                            <div class="item-nav">连衣裙</div>
                        </div>
                        <div class="col">
                            <div class="item-nav">耐克</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="item-nav">酷饮</div>
                        </div>
                        <div class="col">
                            <div class="item-nav">薯片</div>
                        </div>
                        <div class="col">
                            <div class="item-nav">瘦身</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
