<style>
    .bar.bar-assertive {
        border-color: #428E57;
        background-color: #428E57;
    }
    .button.button-positive {
        border-color: #428E57;
        background-color: #428E57;
        color: #fff;
    }
</style>
<ion-view title="登陆Yoo生活" left-buttons="leftButtons" right-buttons="rightButtons">
    <ion-content has-header="true">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">用户名:</span>
                <input type="text" ng-model="user.emailOrPhone">
            </label>
            <label class="item item-input">
                <span class="input-label">密  码:</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="login(user)">
                登陆
            </button>
            <a class="button button-block button-positive" href="#/201407220000400/register">
                注册
            </a>
            <!--<p class="text-center">-->
                <!--<a href="#/{{subsiteCode}}/register">忘记密码?</a>-->
            <!--</p>-->
        </div>
    </ion-content>
</ion-view>