<style>
    .apptitle {
        height: 30px;
        line-height: 30px;
    }
    .header {
        font-size: 1.5em;
        padding: 5px;
        font-weight: bold;
    }

</style>

<ion-view title="order">
    <ion-content padding="true" class="has-header">
        <div class="header apptitle">
             <span>海阳星</span> 
        </div>
        <div style="line-height: 30px;">
            海阳星
        </div>
        <form>
            <label class="item item-select">
                <span class="input-label">机油</span>
                <select></select>
            </label>
        </form>
    </ion-content>
</ion-view>