<style>
    #apptitle{
        height: 30px;
        line-height: 30px;
    }
    .header{
        font-size: 1.5em;
        padding: 5px;
        font-weight: bold;
    }
    .good-price{
        font-size: 1.5em;
    }
    .title_btn{
        width: 6em;
    }
    .content_btn{
        width: 12em;
    }
    .btn-group-lg{
        width: 245px;
    }
    .btn-group-lg > .btn{
        padding: 0;
        font-size: 12px;
    }

    .btn-group-lg .dropdown-toggle{
        width: 20px;
        padding: 0 0 !important;
    }
    .btn-group-lg > li{
        width: 16em;
    }
    .other_title_btn{
        width: 20em;
    }
    #order_btn{
        background: #f57a22;
        color: #fff;
    }
    .tab_title{
        padding: 0;
        overflow: hidden;
    }
    .tab_title li{
        float: left;
        width: 33%;
        height: 30px;
        line-height: 30px;
        list-style: none;
        text-align: center;
    }
    .tab_title .selected{
        border-top: 2px solid #ea4609;
        color: #ea4609;
    }
    .tab_title li:nth-child(1),.tab_title li:nth-child(2){
        border-right: 1px solid #ccc;
    }
    .row{
        margin: 0;
    }
    .col-sm-12{
        padding: 0;
    }


</style>
<link href="./css/application.css" media="all" rel="stylesheet" />
<ion-view title="order"   >
    <ion-content has-tabs="false" padding="true" class="has-header">

        <ul class="tab_title">
            <li class="selected">立即下单</li>
            <li>服务介绍</li>
            <li>评价(未开通)</li>
        </ul>

        <div class="header apptitle">
             <span>海阳星</span> 
        </div>

        <div class="col-xs-12">
            <div class="goods-title">
            <span>大众(一汽) 宝来 上门保养<br><span>
            <hr>
          </span></span></div>
          <span>价格: <strong class="good-price" id="price" data-car="531f1efd098e71b3f8000c3d">451元</strong>
          </span>
            <hr>
        </div>
        <form>
            <label class="item item-select">
                <span class="input-label">机油</span>
                <select></select>
            </label>
        </form>
    </ion-content>
</ion-view>