<style type="text/css">
body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.button {
    width: 90%;
    margin-left: 15px;
}
</style>

<ion-view title="确认购买" hide-nav-bar="true">
    <ion-content has-header="false">

        <div class="list">
            <div class="item item-divider">
                收货地址
                <br>
            </div>
            <div style="text-align: right;margin-right: 25px; color:#898989; font-size:14px;" ng-click="selectAddress()">{{address.username}} {{address.province}} {{address.city}}
                <br>{{address.street}}
                <br>{{address.phone}}
            </div>
            <div class="item item-divider">
                选择支付方式
            </div>
            <ion-radio ng-repeat="item in serverSideList" ng-value="item.value" ng-model="data.serverSide" ng-change="serverSideChange(item)" name="server-side">
                {{ item.text }}
                <br>
                <span style="font-size: 14px; color:#898989;">推荐使用微信5.4以上版本使用</span>
            </ion-radio>
            <a class="button  button-positive" ng-click="pays()" style="background-color: #f5655f;border: solid 0;margin-top: 10px;">
                确认订单
            </a>
        </div>
        <script>
        alert($("input[type='radio'], input[type='checkbox']").ionCheckRadio());
        </script>
    </ion-content>
</ion-view>
