<style>

    .star {
        color: red;
    }

    .input-label {
        color: #999999;
    }

    .table-bordered {
        border: 1px solid #dddddd;
    }

    #item_table {
        width: 100%;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
        border-spacing: 0;
        background-color: transparent;
    }

    tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }

    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }

    .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.428571429;
        vertical-align: top;
        border-top: 1px solid #dddddd;
    }

    .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: #f9f9f9;
    }

    .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: #f9f9f9;
    }

    .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.428571429;
        vertical-align: top;
        border-top: 1px solid #dddddd;
    }

    .table-bordered {
        border: 1px solid #dddddd;
    }

    .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
        border: 1px solid #dddddd;
    }
</style>

<script>
    alert($("input[type='radio'], input[type='checkbox']").ionCheckRadio());
</script>
<ion-view title="填写订单内容" cache-view="false">
    <ion-content padding="true">
        <h4 style="line-height: 1.5em;">请正确填写以下内容，提交订单后，会有客服与您联系。</h4>

        <form ng-submit="pays(order)">
            <label class="item item-input">
                <span class="input-label"><strong class="star">*</strong>姓名:</span>
                <input type="text" ng-model="order.username">
            </label>
            <!--<label class="col-sm-2 control-label">所在地</label>-->
            <!--<div class="col-sm-4">-->
            <!--<city-select-->
            <!--ng-model="item.city"></city-select>-->
            <!--</div>-->
            <label class="item item-input">
                <span class="input-label"><strong class="star">*</strong>地址:</span>
                <input type="text" ng-model="order.address" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label"><strong class="star">*</strong>车牌号:</span>
                <input type="text" ng-model="order.chepai" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label"><strong class="star">*</strong>服务时间:</span>
                <input type="date" ng-model="order.datetime" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label"><strong class="star">*</strong>手机号码:</span>
                <input type="text" ng-model="order.tel" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label"><strong class="star">*</strong>车辆注册时间:</span>
                <input type="date" ng-model="order.regtime" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">发动机号码:</span>
                <input type="text" ng-model="order.fadongjiNo" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label"> VIN:</span>
                <input type="text" ng-model="order.vin" placeholder="">
            </label>
            <ion-toggle toggle-class="toggle-positive" ng-model="order.fapiao">是否要发票</ion-toggle>
            <span class="input-label"> 备注:</span>
            <label class="item item-input">
                <textarea placeholder="填写备注" ng-model="order.beizhu" rows="5"> </textarea>
            </label>

            <div class="item item-divider">
                选择支付方式<strong class="star">*</strong>
            </div>
            <ion-radio ng-repeat="item in serverSideList" ng-value="item.value" ng-model="data.serverSide"
                       ng-change="serverSideChange(item)" name="server-side">
                {{ item.text }}
            </ion-radio>

            <h3>商品详情:</h3>
            <table class="table table-striped table-bordered" id="item_table">
                <tbody>
                <tr>
                    <th>商品名称</th>
                    <th>保养项目</th>
                    <th>价格</th>
                    <th>总价</th>
                </tr>
                <tr>
                    <th rowspan="2">
                        雪佛兰(上海通用) 景程 上门保养
                    </th>
                </tr>
                <tr style="background-color: #f9f9f9;border: 1px solid #dddddd;">
                    <td>[空调滤清器] 卡拉丁</td>
                    <td>￥79.0</td>
                    <td rowspan="1"> 129.0</td>
                </tr>
                </tbody>
            </table>
            <div style="text-align: center">
                <button class="button  button-positive" type="submit"
                        style="background-color: #0c63ee;border: solid 0;margin-top: 10px;width: 80%;">
                    确认订单
                </button>
            </div>
        </form>

    </ion-content>
</ion-view>


