<style type="text/css">
    .imgwh {
        height: 120px;
    }
</style>

<ion-view title="产品分类" hide-nav-bar="true">
    <ion-content has-header="false" has-tabs="false">
        <form name="myForm" class="my-form">
            <div style="position: relative;">
                <div style="position: absolute; margin-top: 100px; width: 100%;">
                    <div class="item-input-inset">
                        <label class="item-input-wrapper">
                            <i style="font-size: 16px; color: #898989;"
                               class="icon ion-ios7-search placeholder-icon"></i>
                            <input style="color:#dddddd; margin-left: -2px;" ng-trim="false" id="productName"
                                   ng-model="productName" type="search" placeholder="输入查询内容">
                        </label>
                        <button id="btn2" style="width: 40px; background-color: #f5655f; border: 0 solid"
                                ng-click="search({{productName}})" style="margin-left: 30px;"
                                class="button button-small button-assertive" type="button">查询
                        </button>
                    </div>
                </div>
                <img class="full-image" style="height: 150px"  src="img/8.jpg">
            </div>


            <div class="list  ">
                <a ng-repeat="item in productList.data.content" href="#/{{subsiteCode}}/product-detail/{{item.proId}}" class="item item-thumbnail-left item-no-board">
                    <img ng-src="{{item.proPhoto}}">

                    <p style="-webkit-text-fill-color: #898989">{{item.goodsDetail.name}}</p>

                    <p style="font-size:16px; color: red; margin-top: 25px; ">￥{{item.goodsDetail.price}}</p>
                </a>
            </div>
        </form>

    </ion-content>
</ion-view>
