<style>
    .bar.bar-assertive {
        border-color: #f5655f;
        background-color: #f5655f;
    }
    .button.button-positive {
        border-color: #f5655f;
        background-color: #f5655f;
        color: #fff;
    }
</style>
<ion-view title="注册新用户" >
    <ion-content has-header="true">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">用户名:</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">电子邮箱:</span>
                <input type="text" ng-model="user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">手机:</span>
                <input type="text" ng-model="user.phone">
            </label>
            <label class="item item-input">
                <span class="input-label">密码:</span>
                <input type="password" ng-model="user.password">
            </label>
            <label class="item item-input">
                <span class="input-label">重复密码:</span>
                <input type="password" ng-model="user.rePassword">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(user)">
                确定
            </button>
            <a class="button button-block button-positive" href="#/201407220000400/login">
                去登录
            </a>
        </div>
    </ion-content>
</ion-view>