<style type="text/css">
    .item p {
        color: #898989;
        font-size: 12px;
    }

    .title-color {
        color: #f5655f;
    }
</style>

<!--优惠信息-->
<ion-view title="优惠信息" hide-nav-bar="true">
    <ion-content has-header="false">
        <div class="list card" ng-repeat="info in datas">

            <div class="item item-text-wrap">

                <h2 class="title-color">{{info.title}}</h2>

                <p class="small-font article-color">有效日期：{{info.effectiveTime}}</p>
            </div>

            <div class="item item-body article-color" style="font-size: 12px;" ng-bind-html="info.content">
            </div>

        </div>

    </ion-content>
</ion-view>
