<!--
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<!--<ion-tabs>-->
    <!--<ion-tab title="首页" icon="icon ion icon-home" href="#/tab/home">-->
        <!--<ion-nav-view name="home-tab"></ion-nav-view>-->
    <!--</ion-tab>-->
    <!--<ion-tab title="新闻" icon="icon ion icon-news" href="#/tab/news">-->
        <!--<ion-nav-view name="news-tab"></ion-nav-view>-->
    <!--</ion-tab>-->

    <!--<ion-tab title="分类" icon="icon ion icon-news" href="#/tab/classify">-->
        <!--<ion-nav-view name="classify-tab"></ion-nav-view>-->
    <!--</ion-tab>-->
    <!--&lt;!&ndash; Pets Tab &ndash;&gt;-->
    <!--<ion-tab title="产品" icon="icon ion icon-product" href="#/tab/products">-->
        <!--<ion-nav-view name="products-tab"></ion-nav-view>-->
    <!--</ion-tab>-->
    <!--&lt;!&ndash; Adopt Tab &ndash;&gt;-->
    <!--<ion-tab title="招聘" icon="icon  ion icon-message" href="#/tab/personnel-recruitment">-->
        <!--<ion-nav-view name="personnel-recruitment-tab"></ion-nav-view>-->
    <!--</ion-tab>-->
    <!--&lt;!&ndash; About Tab &ndash;&gt;-->
    <!--<ion-tab title="留言" icon="icon ion icon-product" href="#/tab/send-message">-->
        <!--<ion-nav-view name="send-message-tab"></ion-nav-view>-->
    <!--</ion-tab>-->
    <!--&lt;!&ndash; Detials Tab&ndash;&gt;-->
    <!--<ion-tab title="详情" icon="icon ion icon-product" href="#/tab/company-details">-->
        <!--<ion-nav-view name="company-details-tab"></ion-nav-view>-->
    <!--</ion-tab>-->
    <!--&lt;!&ndash; AboutUs-Tab &ndash;&gt;-->
    <!--<ion-tab title="我们" icon="icon ion icon-product" href="#/tab/about-us">-->
        <!--<ion-nav-view name="about-us-tab"></ion-nav-view>-->
    <!--</ion-tab>-->

<!--</ion-tabs>-->
