<style type="text/css">
    .user-list-one {
        margin-top: 23px;
        margin-bottom: 23px;
    }
</style>

<ion-view title="个人中心" hide-nav-bar="true">
    <ion-content has-header="true" has-tabs="true">

        <div class="user-div">
            <img class="user_avatar" src="img/user_1.png">
            <!--  -->
            <h3 style="color: #FF6668">{{userdata.username}}</h3>
        </div>

        <div class="list">
            <a class="item" href="">余额：{{ acc.data }} &nbsp;元
                <a class="item" href="">手机：{{ userdata.phone }}
                    <a class="item " href="">邮箱：{{ userdata.email }}</a> <br/> <br/>
                    <a class="item " href="#/{{subsiteCode}}/user-order?userId={{userdata.id}}">我的订单</a>
                    <!--<a class="item " href="#/{{subsiteCode}}/user-card">我的会员卡</a>-->
                    <a class="item " href="#/{{subsiteCode}}/user-address?id={{ userdata.id }}">我的收货地址</a>

        </div>
        <a class="button button-full2 button-block " style="background-color: #f5655f" href="#/{{subsiteCode}}">首 页</a>
        <br>
        <br>
    </ion-content>
</ion-view>
