<ion-view title="我的购物车" >
    <ion-content has-header="true">

        <div class="list">
            <a ng-repeat="item in datas" class="item item-thumbnail-left item-no-board">
                <img ng-src="{{item.goods.goodsDetail.pictures[0].path}}">

                <p style="-webkit-text-fill-color: #898989"><span style="margin-left:10px;">{{item.goods.goodsDetail.name}}</span>

                    <!--<span style="margin-left:10px;">下单时间:{{item.goods.createdDate}}</span>-->
                </p>

                <p style="font-size:16px; color: red; margin-top: 25px; ">￥{{item.goods.goodsDetail.price}}
                    <span style="margin-left:10px;">数量:{{item.num}}</span>
                </p>
            </a>
        </div>

        <!--<ion-infinite-scroll-->
        <!--ng-if="hasmore"-->
        <!--on-infinite="loadMore()"-->
        <!--icon="ion-loading-c"-->
        <!--distance="10%">-->
        <!--</ion-infinite-scroll>-->
    </ion-content>
</ion-view>
