<ion-view title="订单列表">
    <ion-content has-header="true">

        <div class="list">
            <a ng-repeat="item in orderlist" class="item">
                <p style="-webkit-text-fill-color: #898989">用户姓名: {{item.username}}<span style="margin-left:20px;">支付方式: {{item.payType}}</span>
                </p>

                <p style="font-size:16px; color: #F5655F; margin-top: 5px; ">总价: ￥{{item.amount}}
                    <span style="margin-left:20px;">电话: {{item.tel}}</span>
                </p>

            </a>
        </div>

    </ion-content>
</ion-view>
