<ion-view title="'修改密码'">
    <ion-content has-header="true" has-tabs="false">

        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="原密码"> <i class="icon ion-chevron-right "></i>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="新密码"> <i class="icon ion-chevron-right  "></i>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="再次输入新密码"> <i class="icon ion-chevron-right "></i>
            </label>
        </div>
        <button class="button button-full2 button-block ">退出</button>
    </ion-content>
</ion-view>
