<ion-view title="我的订单" >
    <ion-content has-header="true">

        <div class="list">
            <a ng-repeat="item in orderList" class="item item-thumbnail-left item-no-board">
                <img ng-src="{{item.pictures[0].path}}">

                <p style="-webkit-text-fill-color: #898989">订单编号:{{item.num}}</p>

                <p style="font-size:16px; color: red; margin-top: 25px; ">￥{{item.amount}}
                    <span style="margin-left:50px;">{{item.username}}</span>
                </p>
            </a>
        </div>

        <!--<ion-infinite-scroll-->
        <!--ng-if="hasmore"-->
        <!--on-infinite="loadMore()"-->
        <!--icon="ion-loading-c"-->
        <!--distance="10%">-->
        <!--</ion-infinite-scroll>-->
    </ion-content>
</ion-view>
